<footer>
    <div class="container">
        <div class="footer-widgets-part">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget text-widget">
                        <h1>About</h1>
                        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
                        <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. </p>
                    </div>
                    <div class="widget social-widget">
                        <h1>Stay Connected</h1>
                        <ul class="social-icons">
                            <li><a routerLink="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a routerLink="" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a routerLink="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a routerLink="" class="youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a routerLink="" class="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a routerLink="" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a routerLink="" class="vimeo"><i class="fa fa-vimeo-square"></i></a></li>
                            <li><a routerLink="" class="dribble"><i class="fa fa-dribbble"></i></a></li>
                            <li><a routerLink="" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a routerLink="" class="flickr"><i class="fa fa-flickr"></i></a></li>
                            <li><a routerLink="" class="rss"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget posts-widget">
                        <h1>Random Post</h1>
                        <ul class="list-posts">
                            <li>
                                <img src="assets/upload/news-posts/listw4.jpg" alt="">
                                <div class="post-content">
                                    <a routerLink="travel" >travel</a>
                                    <h2><a routerLink="single-post" >Pellentesque odio nisi, euismod in ultricies in, diam. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <img src="assets/upload/news-posts/listw1.jpg" alt="">
                                <div class="post-content">
                                    <a routerLink="" >business</a>
                                    <h2><a routerLink="single-post">Sed arcu. Cras consequat.</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <img src="assets/upload/news-posts/listw3.jpg" alt="">
                                <div class="post-content">
                                    <a routerLink="tech">tech</a>
                                    <h2><a routerLink="single-post">Phasellus ultrices nulla quis nibh. Quisque a lectus.</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget categories-widget">
                        <h1>Hot Categories</h1>
                        <ul class="category-list">
                            <li>
                                <a routerLink="">Business <span>12</span></a>
                            </li>
                            <li>
                                <a routerLink="">Sport <span>26</span></a>
                            </li>
                            <li>
                                <a routerLink="">LifeStyle <span>55</span></a>
                            </li>
                            <li>
                                <a routerLink="">Fashion <span>37</span></a>
                            </li>
                            <li>
                                <a routerLink="">Technology <span>62</span></a>
                            </li>
                            <li>
                                <a routerLink="">Music <span>10</span></a>
                            </li>
                            <li>
                                <a routerLink="">Culture <span>43</span></a>
                            </li>
                            <li>
                                <a routerLink="">Design <span>74</span></a>
                            </li>
                            <li>
                                <a routerLink="">Entertainment <span>11</span></a>
                            </li>
                            <li>
                                <a routerLink="">video <span>41</span></a>
                            </li>
                            <li>
                                <a routerLink="">Travel <span>11</span></a>
                            </li>
                            <li>
                                <a routerLink="">Food <span>29</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget flickr-widget">
                        <h1>Flickr Photos</h1>
                        <ul class="flickr-list">
                            <li><a routerLink=""><img src="assets/upload/flickr/1.jpg" alt=""></a></li>
                            <li><a routerLink=""><img src="assets/upload/flickr/2.jpg" alt=""></a></li>
                            <li><a routerLink=""><img src="assets/upload/flickr/3.jpg" alt=""></a></li>
                            <li><a routerLink=""><img src="assets/upload/flickr/4.jpg" alt=""></a></li>
                            <li><a routerLink=""><img src="assets/upload/flickr/5.jpg" alt=""></a></li>
                            <li><a routerLink=""><img src="assets/upload/flickr/6.jpg" alt=""></a></li>
                        </ul>
                        <a routerLink="">View more photos...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-last-line">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; COPYRIGHT 2015 hotmagazine.com</p>
                </div>
                <div class="col-md-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><a routerLink="">About</a></li>
                            <li><a routerLink="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>