  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a routerLink="" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>AngularNews</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="world">World</a></li>
          <li><a routerLink="national">National</a></li>
          <li><a routerLink="business">Business</a></li>
          <li><a routerLink="sports">Sports</a></li>
          <li><a routerLink="tech">Tech</a></li>
          <li><a routerLink="health">Health</a></li>
          <li><a routerLink="entertain">Entertainment</a></li>
          <li class="dropdown"><a routerLink=""><span>More</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a routerLink="fashion">Fashion</a></li>
              <li><a routerLink="travel">Travel</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <app-search-form></app-search-form>
        <!-- End Search Form -->

      </div>

    </div>

  </header>
  <!-- End Header -->